body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    height: 100vh;
    margin: 0; 
    padding: 20px; 
}

h1 {
    color: #d2e40e;
    background-color: rgb(39, 21, 233); 
    font-size: 28px;
    padding: 17px;
    margin: 10px 0; 

}

h3 {
    color: aqua;
    background-color: rgb(221, 240, 15); 
    padding: 20px;
    margin: 0; 
}
